{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": ["*.scss"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "singleQuote": true
      }
    }
  ]
}
