---
import Head from '@components/Head.astro';
import Wrapper from '@components/Wrapper.astro';
import Layout from '@layouts/Layout.astro';
import { SITE_NAME } from 'site-settings';

const title = SITE_NAME;
const description = 'AstroでWebサイトを作るためのテンプレート';
---

<Layout>
  <Head slot="head" title={title} description={description} />

  <Wrapper>
    <p>トップページ</p>
  </Wrapper>
</Layout>
