---
interface Props {
  ja: string;
  en: string;
}

const { ja, en } = Astro.props;
---

<h2 class="heading" data-english={en}>{ja}</h2>

<style lang="scss">
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: clamp(rem(24px), 3.83vw, rem(42px));

    &::before {
      font-size: 0.5em;
      font-style: italic;
      color: var(--black-color-secondary);
      text-transform: uppercase;
      content: attr(data-english);
    }
  }
</style>
