---
import Nav from '@components/Nav.astro';
import Wrapper from '@components/Wrapper.astro';
import { SITE_NAME } from 'site-settings';
---

<header class="header">
  <Wrapper class="wrapper">
    <h1>{SITE_NAME}</h1>
    <Nav />
  </Wrapper>
</header>

<style lang="scss">
  .header {
    border: solid 1px var(--black-color-primary);
    block-size: 80px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: 100%;
  }
</style>
