---
import Head from '@components/Head.astro';
import Heading from '@components/Heading.astro';
import Wrapper from '@components/Wrapper.astro';
import Layout from '@layouts/Layout.astro';
import { SITE_NAME } from 'site-settings';

const title = `Work | ${SITE_NAME}`;
const description = 'AstroでWebサイトを作るためのテンプレートのWorkページです';
---

<Layout>
  <Head slot="head" title={title} description={description} path="work/" />

  <Wrapper>
    <section>
      <Heading ja="実績" en="work" />
    </section>
  </Wrapper>
</Layout>

<style>
  section {
    padding-block: min(16.67vw, 100px);
  }
</style>
