---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import '@styles/style.scss';
---

<!doctype html>
<html lang="ja">
  <slot name="head" />

  <body>
    <div class="layout">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style lang="scss">
  .layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-block-size: 100vh;
  }
</style>

<script>
  import { addAriaHiddenToBr } from '@utils/ariaHiddenToBr';

  addAriaHiddenToBr();
</script>
